body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:azure;
    text-shadow: 3px 3px 10px black;
    background-image: url(https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?cs=srgb&dl=pexels-pixabay-53594.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

.links {
    filter: drop-shadow(3px 3px 5px black);
}

.active {
    background-color: yellow;
    text-decoration: none;
}



